body {

    background-color: rgb(5, 59, 235);
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    
}

header {
    text-align: center;
    background-color: rgb(5, 59, 235);
    color: white;
    padding: 20px;
}

*{
    font-family: Helvetica, Arial, sans-serif;
}

img {
    
    max-height: 175px;
    width: auto;
}

img.bellarmine {
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: dotted;
    margin-left: 10px;
}

div {
    background-color: white;
    font-size: large;
    
}
h2{
    color: rgb(5, 59, 235);
}
h3{
    color: rgb(5, 59, 235);
    text-decoration-line: underline;
}

div.left {
    float: left;
    width: 20%;
    padding: 15px;
}

div.right {
    float: left;
    width: 20%;
    padding: 15px
}

div.main{
    float: left;
    width: 60%;
    min-height: 80vh;
    padding: 15px
}

div.row::after {
    content: "";
    display: table;
    clear: both;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: rgb(5, 59, 235);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

p {
    text-align: justify;
}

a {
    color: rgb(5, 59, 235);
    text-decoration-line: none;
}

ul {
    list-style-type: circle;
    color: rgb(5, 59, 235);
}

@media screen and (max-width: 600px) {
    div.left{
        width: 5%; 
    }
    div.right{
        width: 5%; 
    }
    div.main {
      width: 90%;
    }
}
